<label for="usr2">Выберите тэг:</label>
<ss-multiselect-dropdown class="usr2" [ngModelOptions]="{standalone: true}" [options]="myOptions" [(ngModel)]="optionsModel"
  (ngModelChange)="onChangeSelect($event)">
</ss-multiselect-dropdown>
<div class="form-group">
  <label for="usr">Поиск:</label>
  <input #searchBox (keyup)="search(searchBox.value)" type="text" class="form-control" id="usr">
  <button class="btn btn-warning" *ngIf="!find"  type="submit">Ничего не найдено</button>
</div>
<div>
  <div *ngFor="let item of pagedItems" class="card-block blockOfNews">
    <h1 class="size card-text">{{item.newsTitle}}</h1>
    <hr>
    <img src="{{item.avatar}}" class="img-responsive" alt="">
    <p class="size card-text textOfNews">{{item.newsText}}</p>
    <hr>
    <p class="card-text author">
      <span class="authorOfNews">Author:</span>
      <a *ngIf="item.authorId == idOfAuthor" [routerLink]="['/profile']">{{usernameOfAuthor}}</a>
      <a *ngIf="item.authorId != idOfAuthor" [routerLink]="['/userpage/'+item.authorId]">{{item.authorname}}</a>
      <span class="authorOfNews">Date: {{item.myDate}}</span>
    </p>
    <div *ngFor="let tag of item.tags" class="tags">
      <button class="btn btn-info btn-sm" (click)="onSelectTag(tag.id)" type="submit">{{tag.tag}}</button>
    </div>
    <div class="buttonForNews">
      <div *ngIf="item.authorId == idOfAuthor">
        <button class="btn btn-warning" *ngIf="!item.delete" (click)="item.delete = true" type="submit">Удалить</button>
        <span *ngIf="item.delete"> Вы уверены?</span>
        <button class="btn btn-danger" *ngIf="item.delete" (click)="onDeleteNews(item.id)" type="submit">Удалить</button>
        <button class="btn btn-success" *ngIf="item.delete" (click)="item.delete = false" type="submit">Нет</button>
        <edit-news [news]="item"></edit-news>
      </div>
    </div>
  </div>

  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>