
p
{
  font-size:25x;
  margin-top: 50px;
  margin-left: 20px;   
  margin-right: 20px;

  
}

.textOfNews
{
    font-size:25x;

}

.blockOfNews
{
  margin-top:40px;
  margin-bottom:15px;
  box-shadow: 14px 14px 100px rgba(0,0,0,0.5);
  font-size:25px;
      border-radius: 11px;

}

.authorOfNews
{
  font-size: 15px;
}
.author
{
  font-size: 20px;
}


.tags
{
  display: inline;
  font-size: 20px;
}

h1
{
  font-size: 30px;
      text-align: center;

}
.btn-sm
{
    margin-bottom: 40px;
}



.form-control
{
  width: 250px
}
.searching
{
  margin-bottom: 50px;
}