<div class="container">
    <form class="form-horizontal" role="form" novalidate>
        <h2>Добавить новость</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Загрузите ваше фото</label>
            <div class="col-sm-9">
                <label for="file-upload" class="custom-file-upload">
                <input #file1Input type="file" id="file-upload" accept="image/jpeg,image/png,image/gif">
            </label>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст для тэга</label>
            <div class="col-sm-9">
                <input type="text" id="text" [(ngModel)]="tag" name="tag" class="form-control" autofocus>
            </div>
            <button (click)="onTagSumbit()" class="btnadd btn btn-primary btn-block ">Добавить Тэг</button>
            <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChangeSelect($event)"></ss-multiselect-dropdown>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст заголовка</label>
            <div class="col-sm-9">
                <input type="text" id="text" [(ngModel)]="textTitle" name="textTitle" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст новости</label>
            <div class="col-sm-9">
                <input type="text" id="texts" [(ngModel)]="textNews" name="textNews" class="form-control">
            </div>
            <button type="submit " (click)="onNewsSumbit()" class="btnadd btn btn-primary btn-block ">Запостить</button>
        </div>
    </form>
</div>


<div class="container">
    <form class="form-horizontal" role="form" (ngSubmit)="onUserChange()" novalidate>
        <h2>Редактировать профиль</h2>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Загрузите ваше фото</label>
            <div class="col-sm-9">
                <label for="file-upload" class="custom-file-upload">
                <input #fileInput type="file" id="file-upload" accept="image/jpeg,image/png,image/gif">
                <button  (click)="addFile()" class="btn btn-primary btn-block ">Загрузить фото</button>
            </label>
            </div>
        </div>


        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Новое имя</label>
            <div class="col-sm-9">
                <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" autofocus>
                <span class="help-block">Иван Иванов</span>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Изменить дату рождения</label>
            <div class="col-sm-9">
                <input type="date" min="1930-01-01" max="2017-01-01" id="dateOfBirth" class="form-control" name="dateOfBirth" [(ngModel)]="dateOfBirth">
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-9 col-sm-offset-3 ">
                <button type="submit " (click)="onUserChange()" class="btn btn-primary btn-block ">Принять
                        </button>
            </div>
        </div>
    </form>
</div>