@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
.menubar
{
 background-color:#337ab7;
 height: 65px;
 padding: 7px 0 7px;
 border: solid #337ab7;
}
.title
{
  font-size: 55px;
  color:black;
  font-family: 'Libre Baskerville', serif;
  margin-right:15px;
}
.menuitems
{
    font-family: 'Libre Baskerville', serif;
    font-size:30px;
    float:right;
    color:black;

}
html
{
  background-color: #b5fcd2;
}