<div class="menubar navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="title navbar-brand" [routerLink]="['main']">uNews</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="menuitems nav navbar-nav">
        <!--<li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['dashboard']">Панель управления</a></li>-->
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['profile']">{{username}}</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['register']">Регистрация</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['login']">Вход</a></li>
        <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">Выход</a></li>
      </ul>

    </div>
  </div>
</div>
<router-outlet></router-outlet>>