<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" role="form" (submit)="onLoginSumbit()" novalidate>
                    <input type="text" id="email" [(ngModel)]="email" name="email" class="form-control" autofocus>
                    <input type="password" id="password" [(ngModel)]="password" placeholder="Придумайте пароль..." class="form-control" name="password">


                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Вход</button>
                    <a href="http://localhost:1337/users/auth/facebook" class="btn btn-block btn-social btn-facebook">
                         <i class="fa fa-facebook"></i> Sign in with Facebook
                     </a> 
                    <a (click)="signIn('google')" class="btn btn-block btn-social btn-google-plus">
                         <i class="fa fa-google-plus"></i> Sign in with Google
                     </a>
                    <a href="register" class="text-center new-account">Создать аккаунт</a>
                </form>
            </div>
        </div>
    </div>
</div>