<div class="container">
    <form class="form-horizontal" role="form" (ngSubmit)="formSubmit()" [formGroup]="form" novalidate>
        <h2>Регистрация</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-9">
                <input type="text" id="username" ngControl="username" formControlName="username" placeholder="Введите ваше имя..." name="username"
                    class="form-control" autofocus>
                <span class="help-block">Иван Иванов</span>
            </div>
            <div *ngIf="form.controls?.username?.touched && form.controls?.username?.errors">
                <div *ngIf="form.controls.username.errors.usernotvalidate" class="alert alert-danger">Введите имя, не содержащее цифр</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" ngControl="email" formControlName="email" placeholder="Введите ваш email..." class="form-control"
                    name="email">
                <span class="help-block">example@email.com</span>
            </div>
            <div *ngIf="form.controls?.email?.touched && form.controls?.email?.errors">
                <div *ngIf="form.controls.email.errors.emailnotvalidate" class="alert alert-danger">Введите корректный Email</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Пароль</label>
            <div class="col-sm-9">
                <input type="password" id="password" ngControl="password" formControlName="password" placeholder="Придумайте пароль..." class="form-control"
                    name="password">
            </div>
            <div *ngIf="form.controls?.password?.touched && form.controls?.password?.errors">
                <div *ngIf="form.controls.password.errors.passnotvalidate" class="alert alert-danger">Пароль должен содержать не менее 8 латинских символов, 1 заглавную букву, 1 цифру</div>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Дата рождения</label>
            <div class="col-sm-9">
                <input type="date" min="1930-01-01" max="2017-01-01" id="dateOfBirth" class="form-control" name="dateOfBirth" ngControl="dateOfBirth"
                    formControlName="dateOfBirth">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 ">Пол</label>
            <div class="col-sm-6 ">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                           <input name="sex" type="radio" id="maleRadio" value="Male" formControlName="sex" >
                           Мужской
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input name="sex" type="radio" id="femaleRadio" value="Female" formControlName="sex">
                             Женский 
                        </label>
                    </div>
                </div>
                <div *ngIf="form.controls?.sex?.touched && form.controls?.sex?.errors">
                    <div *ngIf="form.controls.sex.errors.sexnotvalidate" class="alert alert-danger">Выберите пол</div>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-9 col-sm-offset-3 ">
                <button type="submit " (ngSubmit)="formSubmit() " class="btn btn-primary btn-block " [disabled]="!form.valid ">Зарегистрироваться
                        </button>
            </div>
        </div>
    </form>
</div>