body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    margin-top: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
}

*[role="form"] h2 {
    margin-left: 6em;
    margin-bottom: 1em;
}
.form-horizontal .form-group {
    margin-right: 36px;
    margin-left: -13px;
}


.row {
    margin-right: -64px;
    margin-left: -15px;
}
.alert {
    padding: 15px;
    margin-left: 120px;
    border: 1px solid transparent;
    border-radius: 4px;
}

input.ng-invalid {
    border-bottom:3px solid red;
}
input.ng-valid {
    border-bottom:3px solid green;
}