<div class="news-list container">
      <div class="col-md-9">
            <div *ngIf="news" class="profile-content">
                  <app-news [Options]="options"></app-news>
            </div>
      </div>
</div>