<div class="container">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="{{avatar}}" class="img-responsive" alt="">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{username}}
					</div>
				</div>
				<div *ngIf="profile.dateOfBirth" class="profile-usertitle-job">
					Дата рождения: {{profile.dateOfBirth}}
				</div>
				<div *ngIf="profile.sex" class="profile-usertitle-job">
					Пол: {{profile.sex}}
				</div>
				<!--<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>-->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/dashboard">
							<i class="glyphicon glyphicon-user"></i>
							Панель управления</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div *ngIf="news" class="profile-content">
				<app-news [Options]="options"></app-news>
			</div>
		</div>
	</div>
</div>