<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Ойойой!</h1>
                <h2>
                    404 Страница не найдена</h2>
                <div class="error-details">
                    Извините, произошла ошибка, требуемая страница не найдена
                </div>
                <div class="error-actions">
                    <a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        На главную </a>
                </div>
            </div>
        </div>
    </div>
</div>

