.page-header {
    padding-bottom: 9px;
    margin: 113px 0 20px;
    border-bottom: 1px solid #eee;
}

body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    margin-top: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
}

*[role="form"] h2 {
    margin-left: 4em;
    margin-bottom: 1em;
}
.form-horizontal .form-group {
    margin-right: 40px;
    margin-left: 40px;
    
}


.row {
    margin-right: -64px;
    margin-left: -15px;
}
.alert {
    padding: 15px;
    margin-left: 120px;
    border: 1px solid transparent;
    border-radius: 4px;
}

input.ng-invalid {
    border-bottom:3px solid red;
}
input.ng-valid {
    border-bottom:3px solid green;
}
.textfield
{
  height: 150px;
  margin-bottom:120px
}

.btn
{
    width: 264px;
}

.btnadd
{
    margin-left:112px;
    margin-top:30px;
    margin-bottom: 15px
}

#texts
{
    max-width: 100%;
    height: 100px
    
}
#multiselect
{
    margin-left: 176px;
    margin-top: 30px;
}
