 <div class="modal-header">
      <h4 class="modal-title pull-left">Изменить новость</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Загрузите новое фото</label>
            <div class="col-sm-9">
                <label for="file-upload" class="custom-file-upload">
                <input #file1Input type="file" id="file-upload" accept="image/jpeg,image/png,image/gif">
            </label>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст для тэга</label>
            <div class="col-sm-9">
                <input type="text" id="text" [(ngModel)]="tag" name="tag" class="form-control" autofocus>
            </div>
            <button (click)="onTagSumbit()" class="btnadd btn btn-primary btn-block ">Добавить Тэг</button>
            <ss-multiselect-dropdown id="multiselect" [ngModelOptions]="{standalone: true}" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChangeSelect($event)"></ss-multiselect-dropdown>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст заголовка</label>
            <div class="col-sm-9">
                <input type="text" id="text" [(ngModel)]="news.newsTitle" name="textTitle" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Введите текст новости</label>
            <div class="col-sm-9">
                <textarea id="texts" class="changeNews" [(ngModel)]="news.newsText" name="textNews" class="form-control"></textarea>
            </div>
            <button type="submit " (click)="onNewsSumbit()" class="btnadd btn btn-primary btn-block ">Запостить</button>
        </div>
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Закрыть</button>
    </div>